:root {
  --black: #000;
  --white: #ffffff;
  --yellow: #ffcc37;
  --red: red;

  --font: "Open Sans", sans-serif;
  --font-title: "Anton", sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--font);
  font-size: 1.6rem;
  line-height: 1.8;
  background-color: var(--black);
  background-image: url(../img/confetti.svg);
  margin: 0;
}

h1 {
  color: var(--white);
  font-family: var(--font-title);
  font-size: 5rem;
  text-align: center;
  padding-top: 2rem;
}
h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
  margin: 3rem 0;
  border-bottom: solid var(--yellow);
  background-color: var(--black);
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
p {
  margin: 0;
}

[class$="_container"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 80%;
}

/* form */

form {
  background-color: #1fb7b1;
  padding: 1.5rem;
  border-radius: 1rem;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 0.3rem solid #00b4cc;
  border-right: none;
  padding: 0.5rem;
  height: 4rem;
  border-radius: 0.5rem 0 0 0.5rem;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: var(--black);
  font-size: 1.5rem;
}

.searchButton {
  width: 6rem;
  height: 4rem;
  border: 0.1rem solid #018394;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.5s;
}

.searchButton:hover {
  background-color: #014e59;
}
.trending_grid {
  display: grid;
  gap: 2rem;
  justify-items: center;
  margin-bottom: 2rem;
}
.trending_card {
  position: relative;
}

.btn {
  position: absolute;
  top: 82%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: 0.5s;
  background-color: #1eb7b1;
  color: white;
  font-size: 1.4rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 500;
}

@media (min-width: 768px) {
  .btn {
    left: 22%;
  }
}
.btn:hover {
  background-color: #014e59;
}
@media (min-width: 768px) {
  .trending_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card:hover {
  box-shadow: #1fb7b1 0px 7px 29px 0px;
}

span i {
  color: var(--yellow);
}
.random_section h2 {
  text-transform: capitalize;
}

/* imgs */
.img_size {
  width: 30rem;
}

@media (min-width: 768px) {
  .img_size {
    height: 30rem;
    width: 50rem;
  }
}
.img_random {
  width: 30rem;
}
@media (min-width: 768px) {
  .img_random {
    height: 30rem;
    width: 50rem;
  }
}

/* error */
.error {
  font-size: 2rem;
  border-radius: solid;
  color: var(--white);
  text-align: center;
  background-color: var(--red);
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  gap: 2rem;
  background-color: var(--black);
  padding-top: 2rem;
}
footer p {
  text-align: center;
  font-size: 2rem;
}

footer i {
  color: var(--white);
  font-size: 2rem;
  padding: 0 0.5rem;
}
